
#content{
    float: left;
    width: 1200px;
    height: 1050px;
    /* background-color: lightblue; */
}
legend{
    font-style: italic;
    font-size: 30px;
}
/*****简介部分********/
#part1{
    margin-left: 125px;
    width: 950px;
    margin-top: 100px;
    height: 150px;
    background-color: white;
}
  
/***********************/
/******特点部分*********/
#part2{
    height: 150px;
    width: 950px;
    margin-left: 125px;
    margin-top: 30px;
    background-color:white;

}   
/*************************/
/*********教程部分********/
#part3{
    height: 500px;
    margin-top: 40px;
    width: 950px;
    margin-left: 125px;
    float: left;
    background-color:white;
    border: 1px solid blue;
}
#part3 div{
    height: 80px;
    width: 300px;
    margin-left: 115px;
    margin-top: 30px;
    text-align: center;
    line-height: 80px;
    font-size: 36px;
    border-radius: 10px;
    border: 1px solid blue;
    background-color: cornflowerblue;
    float: left;
}
#part3 div a{
    color: white;
    text-decoration: none;
}
#part3 div:hover{
    transition-timing-function: ease-out;
    transform: scale3d(1.1,1.1,1.1);
}
/************************/