* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px auto;
  width: 1200px;
}
#main {
  margin: 100px;
  margin-left: 300px;
  width: 600px;
  height: 400px;
  background-color: skyblue;
}
#bt {
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  color: white;
  height: 100px;
  background-color: slateblue;
}

#myTable td {
  width: 100px;
  height: 50px;
}
#sign {
  margin-top: 50px;
  line-height: 30px;
  font-size: 17px;
  margin-left: 175px;
  width: 250px;
  text-align: right;
}
#mySubmit {
  border: 0px;
  height: 30px;
  width: 100px;
  float: right;
  margin-right: 55px;
}
#mySubmit:hover {
  border: 1px solid rgba(0, 0, 255, 0.5);
}
