*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px auto;
    width: 1200px;
}
#main{
    border: 1px solid red;
    border-radius: 10px;
    background-repeat: no-repeat;
    height: 1050px;
    width: 1200px;
    
}
/*******导航栏板块*****/
#nav{
    position: fixed;
    border-radius: 10px;
    width: 1200;
    height:50px;
    background-color:rgba(0, 0, 0, 0.5);
    filter:alpha(opacity=50);
    z-index: 2;
}
#nav ul{
    width: 1200;
    height: 50px;
}
#nav li{
    /* border-bottom:2px solid red; */
    text-align: center;
    width: 118px;
    height: 50px;
    float: left;
    list-style-type: none;
}
#nav li a{
    text-decoration: none;
    line-height: 50px;
    color: white;
    font-size: 20px;
    
}
#nav ul li ul li a{
    line-height: 30px;
    font-size: 15px;
}
#nav ul li ul li{
    display: none;
    height: 30px;
    background-color: rgba(0,0, 0, 0.5);
    /* border: 1px solid red; */
}
#nav li:hover li{
    display: block;
}
#nav li:hover{
    transition-timing-function: ease-out;
    transform:scale3d(1.1, 1.1, 1.1);
    background-color: rgba(0,0, 0, 0.5);
}
.bt{
    /* position:absolute; */
    margin: 10px;
    float: right;
    width: 107px;
    height: 25px;
    border: none;
    outline: none;
    color:white;
    cursor: pointer;
    background-color: #64cbd0; /*64c8bce */
    box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
/************************/

/*********轮播图*********/
#img{
    width: 1200px;
    height: 600px;
}
/************************/
/******content设计*******/
#content{
    margin-top: 50px;
    border-radius: 10px;
    height: 200px;
    width: 1200px;
}
#content div{
    float: left;
    margin-left:70px;
    border-radius: 100%;
    /* border: 10px solid red; */
    height: 150px;
    width:200px;
    box-shadow: 1px 8px  20px rgba(0, 0, 0, 0.4);
}
#content1{background-color: gray;}
#content2{background-color:yellowgreen;}
#content3{background-color: orange;}
#content4{background-color: red;}
#content div a{
    text-align: center;
    color: white;
    text-decoration: none;
}
#content div:hover{
    /* transition-timing-function: ease-out; */
    
    transform:scale(1.1, 1.1);
}
#p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    margin-top: 40px;
}
#p2{
    color:black;
}
/************************/
/******页脚**************/
#footer{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 200px;
    width: 1200px;
}
#footer1 ul{
    color: white;
    line-height: 40px;
    list-style-type: none;
}
#footer1 ul li{
    padding:0%;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 175px;
    float: left;
}
#footer1 ul li ul li{
    float: none;
    font-size: 15px;
    margin-left: 20px;
}
#footer1 a{
    text-decoration: none;
    color: white;
}
/**********************/