*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px auto;
    width: 1200px;
}
#header{
    margin-top: 100px;
    border: 1px solid red;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: grey;
    font-size: 80px;
    width: 1200px;
    line-height: 100px;
    text-align: center;
}
#watch{
    line-height: 200px;
    width: 1200px;
    background-color: #7ad3fb;
    border: 1px solid blue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-align: center;
    font-size: 130px;
}
#theEndbt{
    border: none;
    width: 100px;
    height: 50px;
}
#theEndbt:hover{
    cursor: pointer;
}
#theEnd{
    margin-top: 125px;
    float: right;
}