#tb{
    width: 1200px;
    height: 800px;
    margin-top: 50px;
}
#myTable{
    width: 1200px;
    border-collapse: collapse;
}
#myTable th{
    font-size: 20px;
    width:120px;
    color: white;
    background-color:grey;
    border: 1px solid rgba(0, 0, 0, 0.5);
    
}
#myTable td{
    height: 45px;
    color: black;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#myTable td:hover{
    color: white;
    background-color: lightslategray;
}