*{
  margin: 0;
  padding: 0;
  border: 0;
}
.background    { 
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing:0;   
}
.background td { 
  padding: 0;         
  /* border: 1px solid red; */
}
.lava{
  background: rgb(255, 100, 100); 
}
.river{
  background: rgb(0, 0, 255);
}
.wall{
  background: white;
}
.door{
  background: rgb(160, 64, 64);
}

.actor  {
  position: absolute;
}
.coin{ 
  background: rgb(241, 229, 89); 
}
.player { 
  background: green; 
}
.bullet{
  background-color: violet;
  border-radius: 20px;
}
.enemy{
  background-color: crimson;
}

.destination{
  background: peru;
}
.dodgeball{
  background-color: maroon;
}
.game {
  float: left;
  overflow: hidden;
  max-width: 650px;
  max-height: 450px;
  position: relative;
  /* border-radius: 10%; */
}

.lost .player {
  background: rgb(20, 100, 144);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.unmatched .player{
  background: goldenrod;
}