
#show{
    position: relative;
    background-image: url("../img/start.jpg");
    background-repeat: no-repeat;
    height: 400px;
    width: 1000px;
}
#ps_game{
    /*位置的设计 */
    left: 40%;
    top:20%;
    
}
#ps_unmatched_game{
    /*位置的设计 */
    left: 40%;
    top: 40%;
}
#box_game{
    /*位置的设计 */
    left: 40%;
    top: 15%;
}

#box_unmatched_game{
    /*位置的设计 */
    left: 40%;
    top: 17%;
}
#show .bt{
    /*位置以及长宽的设计 */
    width: 200px;
    height: 50px;
    display: block;
    position: relative;
    /*字体设计*/
    color: white;
    font-weight: bold;
    font-size: 20px;
    /*外观设计*/
    border-radius: 20px;
    border: 1px solid blue;
    background: rgba(100, 200, 250, 50%);
    box-shadow: 1px 8px  20px rgba(0, 0, 0, 0.4);
}
#show .bt:hover{
    /* transition-timing-function: ease-out; */
    cursor: pointer;
    border: 1px solid red;
    transform:scale(1.1, 1.1);
}

.imgbox{
    display: block;
    float: left;
}

.c_bt{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: rgba(100, 200, 250, 50%);
    box-shadow: 1px 8px  20px rgba(0, 0, 0, 0.4);
}
.c_bt:hover{
    /* transition-timing-function: ease-out; */
    cursor: pointer;
    border: 1px solid red;
    transform:scale(1.1, 1.1);
}