/* 状态栏的样式 */
.statusBar{
    float: left;
    width: 250px;
    background-color: #99EE6B;
}
/* 状态栏标题 */
.descDiv{
    width: 250px;
    height: 50px;
    color: white;
    line-height: 50px;
    background-color: #34CFBE;
    text-align: center;
}
/* 状态栏内容 */
.descTable{
    width: 250px;
    color: white;
    font-size: 15px;
    background-color:#6E86D6;
}
.descTable .label{
    width: 80px;
}
.descTable td{
    border: 1px solid white;
}
/* 状态栏中输赢时的提示信息 */
.tipDiv{
    margin-left: 10px;
    color: white;
}
/* 引导状态栏页面 */
.passInfoDiv{
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #34CFBE;
    text-align: center;
}
.statusTabel{
    background-color: #6E86D6;
    width: 250px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.statusTabel tr{
    height: 40px;
}
/*显示最终结果的样式*/
.resultWrap{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}
.resultTable{
    margin-top: 15%;
    margin-left: 35%;
    color: white;
}
.resultTable tr{
    height: 40px;
}